.design {
  padding: 100px 0;
  overflow: hidden;
  &Heading {
    margin-bottom: 80px;
    &Title {
      position: relative;
      z-index: 3;
      span {
        font-size: 165px;
        line-height: 1.4;
        font-family: $font-primary-bold;
        color: $color-secondary-green;
        margin-right: 50px;
        &:nth-child(even){
          color: #7B7B7B33;
        }
      }
    }
    &Title2 {
      margin-top: -80px;
      span {
        font-size: 165px;
        line-height: 1.4;
        font-family: $font-primary-bold;
        color: transparent;
        -webkit-text-stroke: 2px;
        -webkit-text-stroke-color: #e6e6e6;
        margin-right: 50px;
      }
    }
  }
  &Content {
    display: flex;
    align-items: flex-end;
    padding-left: 100px;
    padding-top: 100px;
    &Item {
      .designContentItemWrapper {
        width: 400px;
      }
      margin-right: 60px;
      img {
        width: 100%;
      }
      &Tag {
        display: flex;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 10px;
        img {
          width: 18px;
        }
        &Name {
          font-size: 14px;
          font-family: $font-secondary-normal;
          line-height: 1;
          color: $color-paragraph-gray;
          margin-left: 7px;
          margin-bottom: 0;
        }
      }
      &Title {
        font-size: 22px;
        font-family: $font-secondary-bold;
        color: $color-maintext;
        line-height: 1.4;
      }
    }
  }
  // .slides-container {
  //   position: relative;
  //   overflow: hidden;  
  //   display: flex;
  //   flex: 1;
  //   width: 100vw;
  // height: 100vh;
  // }
  
  // .slide {
  //   position: absolute;
  //   font-size: 90px;
  //   font-weight: 700;
  //   color: rgba(255,255,255,0.9);
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   height: 100%;
    
  //   width: calc(100% / 3);
  //   width: 100%;
  // }
  
  // .slides-inner {
  //   position: relative;
  //   height: 100%;
  //   width: 100%;  
  //   overflow: hidden;
  // }
}
