<section class="apart revert" data-scroll-section>
  <div class="container">
    <h1 class="apartSubTitle">What Sets Us Apart</h1>
    <p class="apartDescription">
      We are a strategic partner to our amazing clients. We will help you to
      ideate, <a href="#">design</a> and <a href="#">implement</a> your product
      from conception to iterative development support and growth, we always
      working proactively for you.
    </p>
    <ul class="apartOtherFact">
      <li class="apartOtherFactItem">
        <svg
          width="33"
          height="34"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <ellipse cx="16.5" cy="17" rx="16.5" ry="17" fill="#101010" />
          <path
            d="m13.013 19.685-3.891-3.897-1.67 1.674 5.561 5.57 11.47-11.488-1.67-1.673-9.8 9.814Z"
            fill="#2BFD86"
          />
        </svg>
        <span>07+ Years</span>
      </li>
      <li class="apartOtherFactItem">
        <svg
          width="33"
          height="34"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <ellipse cx="16.5" cy="17" rx="16.5" ry="17" fill="#101010" />
          <path
            d="m13.013 19.685-3.891-3.897-1.67 1.674 5.561 5.57 11.47-11.488-1.67-1.673-9.8 9.814Z"
            fill="#2BFD86"
          />
        </svg>
        <span>150+ Clients</span>
      </li>
      <li class="apartOtherFactItem">
        <svg
          width="33"
          height="34"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <ellipse cx="16.5" cy="17" rx="16.5" ry="17" fill="#101010" />
          <path
            d="m13.013 19.685-3.891-3.897-1.67 1.674 5.561 5.57 11.47-11.488-1.67-1.673-9.8 9.814Z"
            fill="#2BFD86"
          />
        </svg>
        <span>100 million+ Users</span>
      </li>
    </ul>
  </div>
</section>
