<section class="case-studies-heading" data-scroll-section>
  <div class="case-studies-heading-wrapper-1">
    <span class="case-studies-heading-text">Featured Case Studies</span>
    <span class="case-studies-heading-text">Featured Case Studies</span>
    <span class="case-studies-heading-text">Featured Case Studies</span>
  </div>
  <div class="case-studies-heading-wrapper-2">
    <span class="case-studies-heading-text">Recent Case Studies</span>
    <span class="case-studies-heading-text">Recent Case Studies</span>
    <span class="case-studies-heading-text">Recent Case Studies</span>
  </div>
</section>
<section class="philosophie" data-scroll-section>
  <div class="wrapper">
    <!-- <div class="indicators">
      <div class="indicator"></div>
      <div class="indicator"></div>
      <div class="indicator"></div>
      <div class="indicator"></div>
      <div class="indicator"></div>
    </div> -->
    <div class="point">
      <article>
        <span class="sub-heading">Real Estate</span>
        <h3 class="heading">Panther Website</h3>
        <p class="tag">Branding, Website</p>
        <p class="discription">
          Avalanche is an open-source platform for building decentralized
          financial applications.
        </p>
        <a href="#" class="btn btnSquare">
          See Case Studies
          <svg
            width="14"
            height="14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m.324 1.873 1.343 1.342a.38.38 0 0 0 .291.11l7.81-.554-9.333 9.332a.188.188 0 0 0 0 .265l.995.995a.188.188 0 0 0 .265 0l9.332-9.332-.553 7.809a.372.372 0 0 0 .109.291l1.342 1.343c.113.112.309.04.318-.12l.84-11.84a.748.748 0 0 0-.801-.8l-11.838.84a.187.187 0 0 0-.12.319Z"
              fill="#fff"
            />
          </svg>
          <span></span>
        </a>
      </article>
      <img src="/images/case-1.png" alt="case-studies" />
    </div>
    <div class="point">
      <article>
        <span class="sub-heading">Real Estate</span>
        <h3 class="heading">Panther Website</h3>
        <p class="tag">Branding, Website</p>
        <p class="discription">
          Avalanche is an open-source platform for building decentralized
          financial applications.
        </p>
        <a href="#" class="btn btnSquare">
          See Case Studies
          <svg
            width="14"
            height="14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m.324 1.873 1.343 1.342a.38.38 0 0 0 .291.11l7.81-.554-9.333 9.332a.188.188 0 0 0 0 .265l.995.995a.188.188 0 0 0 .265 0l9.332-9.332-.553 7.809a.372.372 0 0 0 .109.291l1.342 1.343c.113.112.309.04.318-.12l.84-11.84a.748.748 0 0 0-.801-.8l-11.838.84a.187.187 0 0 0-.12.319Z"
              fill="#fff"
            />
          </svg>
          <span></span>
        </a>
      </article>
      <img src="/images/case-2.png" alt="case-studies" />
    </div>
    <div class="point">
      <article>
        <span class="sub-heading">Real Estate</span>
        <h3 class="heading">Panther Website</h3>
        <p class="tag">Branding, Website</p>
        <p class="discription">
          Avalanche is an open-source platform for building decentralized
          financial applications.
        </p>
        <a href="#" class="btn btnSquare">
          See Case Studies
          <svg
            width="14"
            height="14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m.324 1.873 1.343 1.342a.38.38 0 0 0 .291.11l7.81-.554-9.333 9.332a.188.188 0 0 0 0 .265l.995.995a.188.188 0 0 0 .265 0l9.332-9.332-.553 7.809a.372.372 0 0 0 .109.291l1.342 1.343c.113.112.309.04.318-.12l.84-11.84a.748.748 0 0 0-.801-.8l-11.838.84a.187.187 0 0 0-.12.319Z"
              fill="#fff"
            />
          </svg>
          <span></span>
        </a>
      </article>
      <img src="/images/case-3.png" alt="case-studies" />
    </div>
    <div class="point">
      <article>
        <span class="sub-heading">Real Estate</span>
        <h3 class="heading">Panther Website</h3>
        <p class="tag">Branding, Website</p>
        <p class="discription">
          Avalanche is an open-source platform for building decentralized
          financial applications.
        </p>
        <a href="#" class="btn btnSquare">
          See Case Studies
          <svg
            width="14"
            height="14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m.324 1.873 1.343 1.342a.38.38 0 0 0 .291.11l7.81-.554-9.333 9.332a.188.188 0 0 0 0 .265l.995.995a.188.188 0 0 0 .265 0l9.332-9.332-.553 7.809a.372.372 0 0 0 .109.291l1.342 1.343c.113.112.309.04.318-.12l.84-11.84a.748.748 0 0 0-.801-.8l-11.838.84a.187.187 0 0 0-.12.319Z"
              fill="#fff"
            />
          </svg>
          <span></span>
        </a>
      </article>
      <img
        src="https://source.unsplash.com/random/510x510"
        alt="random"
        width="500"
        height="500"
      />
    </div>
    <div class="point">
      <article>
        <span class="sub-heading">Real Estate</span>
        <h3 class="heading">Panther Website</h3>
        <p class="tag">Branding, Website</p>
        <p class="discription">
          Avalanche is an open-source platform for building decentralized
          financial applications.
        </p>
        <a href="#" class="btn btnSquare">
          See Case Studies
          <svg
            width="14"
            height="14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m.324 1.873 1.343 1.342a.38.38 0 0 0 .291.11l7.81-.554-9.333 9.332a.188.188 0 0 0 0 .265l.995.995a.188.188 0 0 0 .265 0l9.332-9.332-.553 7.809a.372.372 0 0 0 .109.291l1.342 1.343c.113.112.309.04.318-.12l.84-11.84a.748.748 0 0 0-.801-.8l-11.838.84a.187.187 0 0 0-.12.319Z"
              fill="#fff"
            />
          </svg>
          <span></span>
        </a>
      </article>
      <img
        src="https://source.unsplash.com/random/510x501"
        alt="random"
        width="500"
        height="500"
      />
    </div>
  </div>
</section>
<section class="case-studies-footer" data-scroll-section>
  <div class="case-studies-footer-wrapper-1">
    <span class="case-studies-footer-text">
      <a href="https://www.youtube.com/watch?v=AcP3ELO_19U" class="icon btnCircle">
        <svg
          width="22"
          height="30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M22 15 .25 29.722V.278L22 15Z" fill="#101010" />
        </svg>
      </a>
      Play
    </span>
    <span class="case-studies-footer-text">
      <a href="https://home.ctw.utwente.nl/slootenvanf/div/fancybox_images/Chrysanthemum.jpg" class="icon btnCircle"
        ><svg
          width="22"
          height="30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M22 15 .25 29.722V.278L22 15Z" fill="#101010" />
        </svg>
      </a>
      Play
    </span>
    <span class="case-studies-footer-text">
      <a href="https://home.ctw.utwente.nl/slootenvanf/div/fancybox_images/Chrysanthemum.jpg" class="icon btnCircle"
        ><svg
          width="22"
          height="30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M22 15 .25 29.722V.278L22 15Z" fill="#101010" />
        </svg>
      </a>
      Play
    </span>
  </div>
  <div class="case-studies-footer-wrapper-2">
    <span class="case-studies-footer-text">Showreel</span>
    <span class="case-studies-footer-text">Showreel</span>
    <span class="case-studies-footer-text"> Showreel </span>
  </div>
</section>
