<section class="client revert">
  <div class="container">
    <div class="clientContent">
      <p class="clientContentSubtitle">Trusted Partners</p>
      <h2 class="clientContentTitle">
        <span>Since 2016,</span> more than 150 brands have trusted us.
      </h2>
    </div>
  </div>
  <ul class="clientLogo">
    <li class="clientLogoItem">
      <div class="clientLogoItemImg">
        <img src="/images/microsoft.png" alt="Client Logo" />
      </div>
    </li>
    <li class="clientLogoItem">
      <div class="clientLogoItemImg">
        <img src="/images/brack.png" alt="Client Logo" />
      </div>
    </li>
    <li class="clientLogoItem">
      <div class="clientLogoItemImg">
        <img src="/images/health.png" alt="Client Logo" />
      </div>
    </li>
    <li class="clientLogoItem">
      <div class="clientLogoItemImg">
        <img src="/images/microsoft.png" alt="Client Logo" />
      </div>
    </li>
    <li class="clientLogoItem">
      <div class="clientLogoItemImg">
        <img src="/images/brack.png" alt="Client Logo" />
      </div>
    </li>
    <li class="clientLogoItem">
      <div class="clientLogoItemImg">
        <img src="/images/health.png" alt="Client Logo" />
      </div>
    </li>
    <li class="clientLogoItem">
      <div class="clientLogoItemImg">
        <img src="/images/microsoft.png" alt="Client Logo" />
      </div>
    </li>
    <li class="clientLogoItem">
      <div class="clientLogoItemImg">
        <img src="/images/brack.png" alt="Client Logo" />
      </div>
    </li>
    <li class="clientLogoItem">
      <div class="clientLogoItemImg">
        <img src="/images/health.png" alt="Client Logo" />
      </div>
    </li>
    <li class="clientLogoItem">
      <div class="clientLogoItemImg">
        <img src="/images/microsoft.png" alt="Client Logo" />
      </div>
    </li>
    <li class="clientLogoItem">
      <div class="clientLogoItemImg">
        <img src="/images/brack.png" alt="Client Logo" />
      </div>
    </li>
    <li class="clientLogoItem">
      <div class="clientLogoItemImg">
        <img src="/images/health.png" alt="Client Logo" />
      </div>
    </li>
  </ul>
</section>
