<section class="design revert" data-scroll-section>
  <div class="designHeading">
    <h1 class="designHeadingTitle">
      <span>Daily Design</span>
      <span>Daily Design</span>
      <span>Daily Design</span>
    </h1>
    <h1 class="designHeadingTitle2">
      <span>Expriement</span>
      <span>Expriement</span>
      <span>Expriement</span>
    </h1>
  </div>
  <div class="designContent">
    <div class="designContentItem">
      <div class="designContentItemWrapper">
        <img src="/images/design-1.png" />
        <div class="designContentItemTag">
          <img src="/images/dribbble-logo.png" />
          <p class="designContentItemTagName">museminddesign</p>
        </div>
        <p class="designContentItemTitle">Perfume app concept</p>
      </div>
    </div>
    <div class="designContentItem">
      <div class="designContentItemWrapper">
        <img src="/images/design-2.png" />
        <div class="designContentItemTag">
          <img src="/images/dribbble-logo.png" />
          <p class="designContentItemTagName">museminddesign</p>
        </div>
        <p class="designContentItemTitle">Perfume app concept</p>
      </div>
    </div>
    <div class="designContentItem">
      <div class="designContentItemWrapper">
        <img src="/images/design-3.png" />
        <div class="designContentItemTag">
          <img src="/images/dribbble-logo.png" />
          <p class="designContentItemTagName">museminddesign</p>
        </div>
        <p class="designContentItemTitle">Perfume app concept</p>
      </div>
    </div>
    <div class="designContentItem">
      <div class="designContentItemWrapper">
        <img src="/images/design-4.png" />
        <div class="designContentItemTag">
          <img src="/images/dribbble-logo.png" />
          <p class="designContentItemTagName">museminddesign</p>
        </div>
        <p class="designContentItemTitle">Perfume app concept</p>
      </div>
    </div>
    <div class="designContentItem">
      <div class="designContentItemWrapper">
        <img src="/images/design-1.png" />
        <div class="designContentItemTag">
          <img src="/images/dribbble-logo.png" />
          <p class="designContentItemTagName">museminddesign</p>
        </div>
        <p class="designContentItemTitle">Perfume app concept</p>
      </div>
    </div>
  </div>

  <!-- <div class="slides-container">
        <div class="slides-inner">
          <div class="slide">1</div>
          <div class="slide">2</div>
          <div class="slide">3</div>
          <div class="slide">4</div>
          <div class="slide">5</div>
          <div class="slide">6</div>
          <div class="slide">7</div>
          <div class="slide">8</div>
          <div class="slide">9</div>
          <div class="slide">10</div>
        </div>
      </div> -->
</section>
