<div class="navigation">
    <div class="nav-logo">
        <img src="/images/musemind.png" alt="site-logo">
    </div>
    <div class="nav-action">
        <svg width="30" height="11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill="#fff" d="M0 0h30v2H0zM0 9h30v2H0z"/>
        </svg>
    </div>
    <div class="nav-contact">
        <div class="nav-contact-wrapper">
            <span>work with us</span>
            <span></span>
            <span>work with us</span>
            <span></span>
        </div>
    </div>
</div>
<div class="navigation-menu">
    <div class="navigation-menu-close">
        <i class="navigation-menu-close-icon">
            <svg width="21" height="21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill="#fff" d="M0 2.121 2.12 0l17.887 17.886-2.122 2.121z"/>
                <path fill="#fff" d="M20.008 2.121 17.886 0 0 17.886l2.122 2.121z"/>
            </svg>
        </i>
    </div>
    <div class="navigation-menu-one">
        <ul>
            <li><a href="#">Works.</a></li>
            <li><a href="#">Agency.</a></li>
            <li><a href="#">Services.</a></li>
            <li><a href="#">Process.</a></li>
            <li><a href="#">Contact.</a></li>
        </ul>
    </div>
    <div class="navigation-menu-two">
        <h3>Social</h3>
        <ul>
            <li><a href="#">Medium.</a></li>
            <li><a href="#">Instagram.</a></li>
            <li><a href="#">Youtube.</a></li>
            <li><a href="#">Twitter.</a></li>
            <li><a href="#">LinkedIn.</a></li>
            <li><a href="#">Facebook.</a></li>
        </ul>
    </div>
</div>