// Font Variables
$font-primary-light: "ITC Avant Garde Gothic Std Extra Light", sans-serif;
$font-primary-bold: "ITC Avant Garde Std Md Bold", sans-serif;
$font-primary-normal: "ITC Avant Garde Std Bk Semi Bold", sans-serif;
$font-secondary-bold: "Manrope Bold", sans-serif;
$font-secondary-normal: "Manrope Regular", sans-serif;
$font-tobias: "Tobias Regular", sans-serif;

// Color Variables
$color-body: #fff;
$color-primary: #7527ff;
$color-secondary: #000;
$color-subtext: #545454;
$color-lighttext: #8a8a8a;
$color-maintext: #000000;
$color-black: #000;
$color-white: #fff;
$color-gray: #eef3f7;
$color-lightgrey: #a0a7b1;

$color-main-bg: #101010;
$color-white: #ffffff;
$color-paragraph-gray: #7B7B7B;
$color-secondary-green: #2BFD86;
$color-primary-yellow: #FEED01;
$color-dark-yellow: #7C7400;
$color-primary-light-yellow: #D3C500;
$color-button-text: #1D1E22;
$color-black: #000000;
$color-black-light: rgba(0, 0, 0, 0.6);
$color-button-dark: #262729;
$color-gray-background: #F4F7FA;


// Transition Variables
$main-ease: cubic-bezier(0.645, 0.045, 0.355, 1);
